* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
.category {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.box-category {
  width: 500px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.box-category:hover {
  background-color:rgb(174, 177, 179);
}
.add-category {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#categoryInput {
  width: 500px;
  /* flex: 1; */
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.addBtn {
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #0056b3;
}